.op-header-content {
   background: rgba(0, 0, 0, 0);
   .toolbar-spacer {
      flex: 1 1 auto;
   }
}

.example-button-row {
   display: table-cell;
   width: 490px;
 }

.content {
   height: 500px;
   margin-bottom: 20px;

   display: flex;
   justify-content: center;
   align-items: center;

   font-size: 2rem;
   color: lightgray;
}
