<div class="w3-margin-top w3-margin-bottom">
   <div class="w3-right-align w3-margin-bottom">
     <div>Accumulated: <span class="w3-tag w3-teal w3-round">15h 30m</span></div>
   </div>
   <div class="month-name-row">
     <div>
       <mat-icon>arrow_back_ios_new</mat-icon>
     </div>
     <div>November, 2022</div>
     <div>
       <mat-icon>arrow_forward_ios_new</mat-icon>
     </div>
   </div>
 </div>
 <mat-accordion class="dates-entries-list">
   <mat-expansion-panel>
     <mat-expansion-panel-header>
       <mat-panel-title>
         01.03.2022
       </mat-panel-title>
       <mat-panel-description>
         <span>Day Description</span>
         <p>Should: 8h - Is: <span class="w3-tag w3-teal w3-round">5h 30m</span></p>
       </mat-panel-description>
     </mat-expansion-panel-header>

     <button mat-raised-button color="primary" class="add-time-btn">+ Add record</button>

     <mat-card class="time-entry">
       <mat-card-title-group>
         <mat-card-title>07:00 - 17:00</mat-card-title>
         <mat-card-subtitle>Pause: 0:45 </mat-card-subtitle>
         <span class="sub-time">5h 30m</span>
       </mat-card-title-group>
       <mat-card-content>
         <span class="menu-button w3-bar-item">
           <mat-icon>home</mat-icon>
           <span>Home office</span>
         </span>
         <span class="menu-button w3-bar-item">
           <mat-icon>factory</mat-icon>
           <span>Name of the Project Name of the Project Name of the Project</span>
         </span>
         <span class="menu-button w3-bar-item">
           <mat-icon>comment</mat-icon>
           <span>Comments of the entry</span>
         </span>
       </mat-card-content>
       <mat-card-actions align="end">
         <button mat-stroked-button>
           <mat-icon>drive_file_rename_outline</mat-icon>
         </button>
         <button mat-stroked-button color="warn">
           <mat-icon>delete_forever</mat-icon>
         </button>
       </mat-card-actions>
     </mat-card>

     <mat-card class="time-entry">
       <mat-card-title-group>
         <mat-card-title>07:00 - 17:00</mat-card-title>
         <mat-card-subtitle>Pause: 0:45 </mat-card-subtitle>
         <span class="sub-time">5h 30m</span>
       </mat-card-title-group>
       <mat-card-content>
         <span class="menu-button w3-bar-item">
           <mat-icon>factory</mat-icon>
           <span>Name of the Project Name of the Project Name of the Project</span>
         </span>
         <span class="menu-button w3-bar-item">
           <mat-icon>comment</mat-icon>
           <span>Comments of the entry</span>
         </span>
       </mat-card-content>
       <mat-card-actions align="end">
         <button mat-stroked-button>
           <mat-icon>drive_file_rename_outline</mat-icon>
         </button>
         <button mat-stroked-button color="warn">
           <mat-icon>delete_forever</mat-icon>
         </button>
       </mat-card-actions>
     </mat-card>

   </mat-expansion-panel>

   <mat-expansion-panel>
     <mat-expansion-panel-header>
       <mat-panel-title>
         02.03.2022
       </mat-panel-title>
       <mat-panel-description>
         <span>Type the country name</span>
         <p><span class="w3-tag w3-teal w3-round">5h 30m</span></p>
       </mat-panel-description>
     </mat-expansion-panel-header>

     <button mat-raised-button color="primary" class="add-time-btn">+ Add record</button>
   </mat-expansion-panel>

   <mat-expansion-panel>
     <mat-expansion-panel-header>
       <mat-panel-title>
         03.03.2022
       </mat-panel-title>
       <mat-panel-description>
         <span>Inform the date you wish to travel</span>
         <p><span class="w3-tag w3-teal w3-round">5h 30m</span></p>
       </mat-panel-description>
     </mat-expansion-panel-header>

     <button mat-raised-button color="primary" class="add-time-btn">+ Add record</button>
   </mat-expansion-panel>
 </mat-accordion>
