.month-name-row {
   display: flex;
   justify-content: space-between;
   font-size: 25px;

   button:first-child {
      margin-left: 5px;
   }

   button:last-child {
      margin-right: 10px;
   }

   mat-icon {
      font-size: 45px;
      border: 1px;
      width: 20px;
      display: inline;
      vertical-align: middle;
   }
}

.add-time-btn {
   margin-bottom: 8px;
}

.dates-entries-list .mat-expansion-panel-header-description {
   display: flex;
   justify-content: space-between;
   align-items: left;
   width: 80%;
}

/* On screens that are 800px or less, header description is hide */
@media screen and (max-width: 800px) {
   .dates-entries-list .mat-expansion-panel-header-description {
      >span:first-child {
         display: none;
      }

      justify-content: end;
   }

   .mat-expansion-panel-header-title {
      width: 80px;
   }
}