<div class="w3-margin-top">
   <div class="w3-right-align w3-margin-bottom">
      <div>Accumulated: <span class="w3-tag w3-teal w3-round">15h 30m</span></div>
   </div>
   <div class="month-name-row">
      <div class="month-arrow">
         <mat-icon>navigate_before</mat-icon>
      </div>
      <div>{{ currentDate | date: 'MMMM, yyyy' }}</div>
      <div class="month-arrow">
         <mat-icon>navigate_next</mat-icon>
      </div>
   </div>
</div>

<mat-accordion class="dates-entries-list">
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            01.03.2022
         </mat-panel-title>
         <mat-panel-description>
            <span>Day Description</span>
            <p>Should: 8h - Is: <span class="w3-tag w3-teal w3-round">5h 30m</span></p>
         </mat-panel-description>
      </mat-expansion-panel-header>

      <button mat-raised-button color="primary" class="add-time-btn">+ Add record</button>

      <app-time-record-card></app-time-record-card>

      <app-time-record-card></app-time-record-card>

   </mat-expansion-panel>

   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            02.03.2022
         </mat-panel-title>
         <mat-panel-description>
            <span>Type the country name</span>
            <p><span class="w3-tag w3-teal w3-round">5h 30m</span></p>
         </mat-panel-description>
      </mat-expansion-panel-header>

      <button mat-raised-button color="primary" class="add-time-btn">+ Add record</button>
   </mat-expansion-panel>

   <mat-expansion-panel *ngFor="let day of entryData" [disabled]="day.day == 0">
      <mat-expansion-panel-header>
         <mat-panel-title>
            {{day.date | date: 'dd.MM.yyyy' }} - {{ daysName[day.day] }}
         </mat-panel-title>
         <mat-panel-description>
            <span>{{ day.description }}</span>
            <p><span class="w3-tag w3-teal w3-round">5h 30m</span></p>
         </mat-panel-description>
      </mat-expansion-panel-header>

      <button mat-raised-button color="primary" class="add-time-btn">+ Add record</button>
   </mat-expansion-panel>

</mat-accordion>
