.month-name-row {
   display: flex;
   justify-content: space-between;
   font-size: xx-large;
}

.dates-entries-list{
   .mat-card-content {
      margin-bottom: 0px;
      font-size: medium;
   }

   .time-entry {
      margin-bottom: 8px;
   }

   .add-time-btn {
      margin-bottom: 8px;
   }

   .mat-card-actions {
      padding: 0px;
   }

   .mat-card-subtitle {
      margin-bottom: 3px;
   }

   .menu-button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      mat-icon {
         font-size: 20px;
         color: rgb(135, 135, 135);
      }
   }
}


.dates-entries-list .mat-expansion-panel-header-description {
   justify-content: space-between;
   align-items: left;
   width: 80%;
}

/* On screens that are 800px or less, header description is hide */
@media screen and (max-width: 800px) {
   .dates-entries-list .mat-expansion-panel-header-description {
      > span {
         display: none;
      }
      justify-content: end;
   }
}

.sub-time {
   font-weight: bold;
   font-size: large;
   color: rgb(55, 105, 200);
}
