<h2 mat-dialog-title>Time Record </h2>
<mat-dialog-content>
   <form class="demo-form">
      <div class="w3-row">
         <div class="w3-col m4">
            <mat-form-field appearance="fill" class="time-fields">
               <mat-label>Start Time</mat-label>
               <input matInput name="startTime" 
                  [(ngModel)]="startTime" 
                  [ngxMatTimepicker]="pickerA"
                  [format]="format"
                  placeholder="Start" readonly />
               <mat-icon matSuffix (click)="pickerA.open()">
                  watch_later
               </mat-icon>
            </mat-form-field>
            <ngx-mat-timepicker #pickerA [minutesGap]="5"></ngx-mat-timepicker>
         </div>

         <div class="w3-col m4">
            <mat-form-field appearance="fill" class="time-fields endtimeclass">
               <mat-label>End Time</mat-label>
               <input matInput name="endTim" [(ngModel)]="endTime" [ngxMatTimepicker]="pickerB" [format]="format"
                  placeholder="End" readonly />
               <mat-icon matSuffix (click)="pickerB.open()">
                  watch_later
               </mat-icon>
            </mat-form-field>
            <ngx-mat-timepicker #pickerB [minutesGap]="5"></ngx-mat-timepicker>
         </div>

         <div class="w3-col m4">
            <mat-form-field appearance="fill" class="time-fields endtimeclass">
               <mat-label>Pause</mat-label>
               <input matInput name="pauseTime" [(ngModel)]="pauseTime" [ngxMatTimepicker]="pickerC" [format]="format"
                  placeholder="Pause" readonly min="00:00 am" max="02:00 am"/>
               <button *ngIf="pauseTime" matSuffix mat-icon-button aria-label="Clear" (click)="pauseTime=''">
                  <mat-icon>close</mat-icon>
               </button>
            </mat-form-field>
            <ngx-mat-timepicker #pickerC [minutesGap]="5"></ngx-mat-timepicker>
         </div>
      </div>

      <div class="w3-row w3-margin-bottom">
         <section>
            <div class="w3-third">
               <mat-checkbox [(ngModel)]="homeOffice" labelPosition="before">
                  Home Office
               </mat-checkbox>
            </div>
         </section>
      </div>

      <div class="w3-row w3-section">
         <mat-form-field appearance="fill" class="record-fields">
            <mat-label>Project</mat-label>
            <mat-select>
               <mat-option value="option">Option</mat-option>
            </mat-select>
         </mat-form-field>
      </div>

      <div class="w3-row">
         <mat-form-field appearance="fill" class="record-fields">
            <mat-label>Comment</mat-label>
            <textarea matInput></textarea>
         </mat-form-field>
      </div>
   </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
   <button mat-button mat-dialog-close>Cancel</button>
   <button mat-button cdkFocusInitial color="primary">Save</button>
</mat-dialog-actions>