<mat-card class="time-entry">
   <mat-card-title-group>
      <mat-card-title>{{data.startTime}} - {{ data.endTime }}</mat-card-title>
      <mat-card-subtitle>Pause: {{ data.pause ? data.pause: '0h' }} </mat-card-subtitle>
      <span class="sub-time">{{record.formatedTotalTime}}<!-- 5h 30m --></span>
   </mat-card-title-group>
   <mat-card-content>
      <span class="menu-button w3-bar-item" *ngIf="data.homeOffice">
         <mat-icon>home</mat-icon>
         <span>Home office</span>
      </span>
      <span class="menu-button w3-bar-item">
         <mat-icon>factory</mat-icon>
         <span>{{data.project.attributes['code']}} - {{data.project.attributes['name']}}</span>
      </span>
      <span class="menu-button w3-bar-item">
         <mat-icon>comment</mat-icon>
         <span>{{ data.comments }}</span>
      </span>
   </mat-card-content>
   <mat-card-actions align="end">
      <button mat-stroked-button>
         <mat-icon>drive_file_rename_outline</mat-icon>
      </button>
      <button mat-stroked-button color="warn">
         <mat-icon>delete_forever</mat-icon>
      </button>
   </mat-card-actions>
</mat-card>