<mat-card class="time-entry">
   <mat-card-title-group>
      <mat-card-title>07:00 - 17:00</mat-card-title>
      <mat-card-subtitle>Pause: 0:45 </mat-card-subtitle>
      <span class="sub-time">5h 30m</span>
   </mat-card-title-group>
   <mat-card-content>
      <span class="menu-button w3-bar-item">
         <mat-icon>home</mat-icon>
         <span>Home office</span>
      </span>
      <span class="menu-button w3-bar-item">
         <mat-icon>factory</mat-icon>
         <span>Name of the Project Name of the Project Name of the Project</span>
      </span>
      <span class="menu-button w3-bar-item">
         <mat-icon>comment</mat-icon>
         <span>Comments of the entry</span>
      </span>
   </mat-card-content>
   <mat-card-actions align="end">
      <button mat-stroked-button>
         <mat-icon>drive_file_rename_outline</mat-icon>
      </button>
      <button mat-stroked-button color="warn">
         <mat-icon>delete_forever</mat-icon>
      </button>
   </mat-card-actions>
</mat-card>